<ion-content color = "light" class="ion-text-center" >


  
    <h1>AGUARDE...</h1>
</ion-content>
  
<ion-tabs>
  
 
  <ion-tab-bar color = "primary" slot="bottom">

    <ion-tab-button tab="agendamento">
      <ion-icon color = "secondary" name="reader-outline"></ion-icon>
      <ion-label color = "secondary" >Agendamento</ion-label>
    </ion-tab-button>
 
     <ion-tab-button tab="agendados">
      <ion-icon color = "secondary" name="calendar-clear-outline"></ion-icon>
      <ion-label color = "secondary" >Agendados</ion-label>
   </ion-tab-button>
   
  </ion-tab-bar>

 </ion-tabs>


 